# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @amrcoder @augustrh @bhperry @clyang82 @deads2k @dongbeiqing @elgnay @haowells @haoqing0110 @jaswalkiranavtar @jeffw17 @jnpacker @mikeshng @morvencao @qiujian16 @ramekris3163 @skeeey @suvaanshkumar @tamalsaha @TylerGillson @xuezhaojun @yanmxa @zhujian7 @zhiweiyin318
